.startback
{
  height: 100vh;
  width: 100%;
  background-image: url(startdis.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}
/* button in start page */
.stbtn
{
  background-color: rgb(44, 44, 147);
  color:aqua;
  margin: 75vh 40% 15vh 40%;
  width: 20%;
  height: 10vh;
  border-radius: 50%;
}
/* login page */
.btn1
{
  width: 50%;
  height: 25vh;
  background-image: url(coding.jpg);
}
.btn2
{
  width: 50%;
  height: 25vh;
}
.btn3
{
  width: 50%;
  height: 25vh;
}
.btn4
{
  width: 50%;
  height: 25vh;
}


























/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
